@{
    ViewData["Title"] = "GPU Hunt | Dokumentacja - Spis treści";
}

<h3>Spis treści</h3>
<div class="contents-page">
    <ul class="content-list">
        <li>
            @Html.ActionLink("Architektura projektu", "Architecture")
        </li>
        <li>
            @Html.ActionLink("Techonologie i biblioteki", "Technologies")
        </li>
        <li>
            @Html.ActionLink("Wzorce", "Patterns")
        </li>
        <li>
            @Html.ActionLink("Endpointy", "Endpoints")
        </li>
        <li>
            @Html.ActionLink("Usługi", "Services")
        </li>
    </ul>
</div>